<strong>Olá, {{ deliveryman }} </strong>

<p>Uma encomenda atribuida a você acaba de ser cancelada</p>

<strong>Informações adicionais: </strong>
<p><strong>Destinatário: </strong>{{ recipient }}</p>
<p><strong>Produto: </strong>{{ product }}</p>

<p>Clique no link abaixo para mais informações!</p>
